<div class="section group">
<div class="col span_3_of_8">
  <%= image_tag('logo.png') %>
</div>
<div class="col span_5_of_8" id="divright">
  <div id="inside">
    <%= image_tag(@randombeer['data']['breweries'][0]['images']['icon'], class: "imgbrewery") rescue " " %>
    <h2><%= @randombeer['data']['breweries'][0]['name'] rescue " " %></h2>
    <h1><%= @randombeer['data']['name'] rescue " " %></h1>
    <h3><%= @randombeer['data']['style']['name'] rescue " " %></h3>
    <p><%= @randombeer['data']['description'] rescue " " %></p>
    <strong><%= @randombeer['data']['breweries'][0]['locations'][0]['locality'] rescue " " %><br>
    <%= @randombeer['data']['breweries'][0]['locations'][0]['region'] rescue " " %><br>
      <%= @randombeer['data']['breweries'][0]['locations'][0]['country']['displayName'] rescue " " %></strong><p></p>
    <%= image_tag(@randombeer['data']['labels']['large']) rescue " " %>
    <p></p><strong>ABV: <%= @randombeer['data']['abv'] rescue "not listed" %></strong><p></p>
    <strong>Glassware: <%= @randombeer['data']['glass']['name'] rescue "Whatever You Want" %></strong><p></p>
    <strong><%= @randombeer['data']['available']['description'] rescue " Not Available" %></strong><p></p>
    <strong>About <%= @randombeer['data']['style']['name'] rescue " " %>:</strong>
    <p><%= @randombeer['data']['style']['description'] rescue " " %></p>

  </div>
</div>
</div>
<div class="center">
<a class="btn" href="/">Another One!</a>
</div>
<p class="small">powered by</p>
<%= image_tag('bdblogo.png') %>
